/* NAVBAR STYLING */
#downloadbtn {
    background-color: rgb(166, 216, 166);
    width: 150px;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 20px;
}
/* NAVBAR LINK BUTTONS */
nav {
    position: fixed;
}
li a {
    color: gray;
    font-size: 20px;
    text-decoration: none;
    transition: transform .2s;
}

li a:hover {
    text-decoration: none;
    color: black;
    font-weight: normal;
    
}

.zoom {
    -webkit-transition: transform 0s ease-in-out;
    -moz-transition: transform 0s ease-in-out;
    transition: transform 0s ease-in-out;
}
.zoom:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}

/* HEADER */
.welcometext {
    font-size: 70px;
    font-weight: bolder;
}
#tourcolor {
    color: rgb(166, 216, 166);
}
#headerparagraph {
    font-size: 35px;
}
/* MAIN STYLE */
#video {
    width: 60%;
    height: 50%;
    border-radius: 3%;

}
#video:hover {
    text-shadow: 2px;
    transform: scale(1.1); 
}
#downloadbtn2 {
    background-color: rgb(166, 216, 166);
    width: 200px;
    height: 70px;
    border: none;
    color: #fff;
    font-size: 25px;
}
/* FOOTER */
hr {
    width: 70%;
}
.centering {
    width: 55%;
    height: auto;
    position: absolute;

    left: 23%;
}

ul li {
    list-style: none;
}

#reddit, #twitter, #yt {
    color:  rgb(166, 216, 166);
    font-size: 40px;
}

@media (max-width: 576px) {
    #footer:first-child {
        order: 5;
    }
}