/* NAVBAR STYLING */
#downloadbtn {
    background-color: rgb(166, 216, 166);
    border-radius: 20%;
    height: 45px;
}
/* NAVBAR LINK BUTTONS */
li a {
    color: gray;
    font-size: 20px;
    text-decoration: none;
    transition: transform .2s;
}

li a:hover {
    text-decoration: none;
    color: black;
    font-weight: normal;
    
}

.zoom {
    transition: transform 1s;
}
.zoom:hover {
    transform: scale(1.1); 
}

/* HEADER */
.welcometext {
    font-size: 70px;
    font-weight: bolder;
}
#tourcolor {
    color: rgb(166, 216, 166);
}
#headerparagraph {
    font-size: 35px;
}
/* MAIN STYLE */
#video {
    width: 60%;
    height: 50%;
    border-radius: 3%;

}
#video:hover {
    text-shadow: 2px;
    transform: scale(1.1); 
}
#downloadbtn2 {
    background-color: rgb(166, 216, 166);
    width: 150px;
    height: 50px;
}
/* FOOTER */
hr {
    width: 70%;
}
.centering {
    width: 55%;
    height: auto;
    position: absolute;

    left: 23%;
}

ul li {
    list-style: none;
}

@media (max-width: 576px) {
    #footer:first-child {
        order: 5;
    }
}